# notebook
jupyter
# data manipulation
numpy
pandas
pyarrow
# data representation
tabulate
seaborn
matplotlib
# machine learning
xgboost
catboost
lightgbm
scikit-learn
optuna
# deployment
flask
streamlit
# editable installation in current directory
-e .